* {
    box-sizing: border-box;
}

div {
    /* overflow: hidden; */
}

body {
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    touch-action: manipulation;
    /* Disable scrolling on iOS */
    position: fixed;
    overflow: hidden;
}
