.App {
    display: grid;
    padding-top: 5vh;
    height: 95vh;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    background-color: blue;
    color: red;
}
span {
    font-size: 2em;
    -webkit-text-stroke: 2px yellow;
}

.payTableContainer {
    padding-left: 5vw;
    padding-right: 5vw;
}
.payTable {
    width: 100%;
    height: 100%;
    border: 3px solid yellow;
    color: yellow;
    background-color: darkblue;
    text-align: right;
    border-collapse: collapse;
}
.payTable span {
    font-size: 1.25em;
}
.payTable span.highlight {
    color: white;
    animation: blink 1s steps(1) infinite;
}

.payTable tr td:nth-child(1) {
    text-align: left;
}
.payTable td {
    padding: 5px;
    border-left: 3px solid yellow;
}
.payTable td:first-child {
    border-left: none;
}
.payTable td:last-child {
    background-color: red;
}

.handStatusContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardHold span {
    font-size: 1em;
    -webkit-text-stroke: 0;
    color: white;
}
.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
}
img.card {
    width: 100%;
}
.cardHold {
    padding: 10px;
    text-align: center;
}

.bottomRow {
    padding-left: 5vw;
    padding-right: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.winContainer {
    text-align: center;
}

.buttonRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
.buttonRow button {
    height: 100%;
    cursor: pointer;
}

/* Blink Animation */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
