.App {
    display: grid;
    padding-top: 5vh;
    height: 95vh;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    background-color: blue;
    color: red;
}
span {
    font-size: 2rem;
    -webkit-text-stroke: 2px yellow;
    padding: 0 2px 0 2px;
}

.payTableContainer {
    padding-left: 5vw;
    padding-right: 5vw;
}
.payTable {
    width: 100%;
    height: 100%;
    border: 3px solid yellow;
    color: yellow;
    background-color: darkblue;
    text-align: right;
    border-collapse: collapse;
}
.payTable span {
    font-size: 1.25rem;
    -webkit-text-stroke: 0;
}
.payTable span.highlight {
    color: white;
    animation: blink 1s steps(1) infinite;
}

.payTable tr td:nth-child(1) {
    text-align: left;
}
.payTable td {
    padding: 5px;
    border-left: 3px solid yellow;
}
.payTable td:first-child {
    border-left: none;
}
.payTable td.active {
    background-color: red;
}

.handStatusContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardHold span {
    font-size: 1rem;
    -webkit-text-stroke: 0;
    color: white;
}
.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    padding-left: 5vw;
    padding-right: 5vw;
}
img.card {
    width: 100%;
    cursor: pointer;
}
.cardHold {
    padding: 10px 0 10px 0;
    text-align: center;
}

.bottomRow {
    padding-left: 5vw;
    padding-right: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.bet {
    text-align: left;
}
.winContainer {
    text-align: center;
}
.creditContainer {
    text-align: right;
}

.buttonRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 10px;
    align-items: stretch;
}
.buttonRow .logo {
    width: 100%;
}
button {
    cursor: pointer;
    margin: 3px;
    text-align: center;
    background: #e0c725;
    border-radius: 2px;
    border-color: rgb(221, 221, 221);
    border-width: 2px;
    border-style: outset;
    box-shadow: 0 0 0 1px #9e9f27, 0 0 0 3px black;
}
button:active {
    border-style: inset;
}

/* Blink Animation */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Responsive */
:root {
    font-size: 17px;
}
@media all and (max-width: 980px) {
    :root {
        font-size: 14px;
    }
    .App {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    .payTable td {
        padding: 0 3px 0 3px;
    }
}
@media all and (max-width: 736px) {
    :root {
        font-size: 12px;
    }
    .payTable tr:first-child td {
        padding-top: 5px;
    }
    .payTable tr:last-child td {
        padding-bottom: 5px;
    }
}
@media all and (max-width: 480px) {
    :root {
        font-size: 7px;
    }
    .handStatusContainer span {
        font-size: 3rem;
    }
    .payTable td {
        padding-bottom: 3px;
    }
    .cardContainer {
        grid-column-gap: 10px;
    }
    .bottomRow {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
        grid-row-gap: 10px;
        padding-top: 30px;
    }
    .bottomRow span {
        -webkit-text-stroke: 1px yellow;
        padding: 0 1px 0 1px;
    }
    .creditContainer {
        text-align: left;
    }
    .winContainer {
        text-align: right;
    }

    .payTableContainer,
    .cardContainer,
    .bottomRow {
        padding-left: 10px;
        padding-right: 10px;
    }
}
