.App {
    text-align: center;
    background-color: blue;
    color: red;
}
span {
    font-size: 2em;
    -webkit-text-stroke: 2px yellow;
}

.gameContainer {
    /* width: max-content; */
    margin: 0 auto;
}
.handStatusContainer {
    padding-top: "20px";
    padding-bottom: "20px";
}

.cardHold span {
    font-size: 1em;
    -webkit-text-stroke: 0;
    color: white;
}
.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
}
img.card {
    width: 100%;
}
.cardHold {
    padding: 10px;
}

.bottomRow {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    padding-top: 15px;
}

.buttonRow {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    padding-top: 50px;
}
