body {
    margin: 0;
    padding: 0;
    background-color: black;

    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    touch-action: manipulation;
    /* Disable scrolling on iOS */
    position: fixed;
    overflow: hidden;
}
